#maincontent{
  margin: 0% 20%;
  padding: 2%;
}

#sectionelement{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

#paymenttitle{
  color: #985E69;
  font-size: 2rem;
}

#subheading{
  font-size: 2rem;
  color: #985E69;
}

img:hover{
  cursor: pointer;
}

#options{
  padding: 0.5rem 0.5rem;
  margin: 0rem 0rem;
  width: 20rem;
  border-radius: 0.2rem;
  border: 0.1rem solid #985E69;
  color: #985E69;
}

.select-selected:after {
  position: absolute;
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
.download_icon{
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
}

#paymentsection{
  border: 0.125rem solid #985E69;
  border-radius: 0.6rem;
  margin-top: 1.5rem;
  box-shadow: 0.2rem 0.2rem 0.2rem #ccc;
}

#pmtprevious{
  padding: 0.7rem 2rem;
  margin: 0rem 0.5rem;
  border: 0.1rem solid #596D96;
  border-radius: 0.5rem;
  color: #596D96;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}

#pmtcontinue{
    padding: 0.7rem 2rem;
    margin: 0rem 0.5rem;
    border: 0.1rem solid #985E69;
    border-radius: 0.5rem;
    color: white;
    background-color: #985E69;
    font-weight: bold;
    cursor: pointer;
}

#paymentbreakdown{
  color: #985E69;
  display: flex;
  justify-content: space-between;
}

#titles{
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  line-height: 2rem;
}

#values{
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  line-height: 2rem;
  font-weight: bold;
  text-align: right;
}

#paymenttotal{
  color: #985E69;
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  vertical-align: sub;
}

#paymentmainamount{
  font-size: 1.4rem;
}

#paymentsection > hr{
  border: solid 0.1em;
  margin: 0rem 2rem;
  color: #985E69;
  background-color: #985E69;
}

#paymentcontroller{
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.tabularpayment {
  padding: 1rem;
}

table > tr{
  line-height: 2rem;
  color: #985E69;
}

table > th {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.centertd {
  text-align: center;
}